// colors
$primary_color: #000;
$darker_color: #1A1A1A;
$text_color: #000;
$purple_color: #8737A9;
$pink_color: #F36FBE;
$text_white_color: #fff;
$success_color: #6fe56f;
$error_color: #c51818;
$other_dark_color: #2A184A;
$bg_white: #fff;

// fonts
$font_inter: "Inter", serif;

// font_size
$font_72: 72px;
$font_56: 56px;
$font_40: 40px;
$font_32: 32px;
$font_24: 24px;
$font_16: 16px;