/*Header*/
.main-header {transition: all 0.3s ease-in-out;}
.main-header.is-scrolled {padding:24px !important;backdrop-filter: blur(5px);background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);}