@use 'modules/variables' as var;
@use '_reset.scss';
@use '_fonts.scss';
@use '_header.scss';
@use './home/_home.scss';
@use './dashboard/_dashboard.scss';
@use 'media.scss';

/*Presets*/
html {scroll-behavior: smooth;scroll-padding-top:40px;}
body {margin:0;padding:0;background:var.$primary_color;}
.wrapper {width:100%;max-width:1550px;margin:0 auto;padding:0;position: relative;}
h1,h2,h3,h4,h5,h6,span,p,ul,li,a,button,small,div {font-family:var.$font_inter;color:var.$text_white_color;line-height:120%;}
img {vertical-align:top;image-rendering:-webkit-optimized-contrast;}

.dashboard-box-card {background: linear-gradient(0deg, var.$dark2_color, var.$dark2_color);border: 1px solid var.$dark1_color;border-radius:26px;}

.dashboard-btn {padding:9px 26px;font-size:var.$font_16;height:42px;border-radius:24px;background: linear-gradient(90deg, var.$purple_color 0%, var.$dark_purple_color 100%);display:flex;align-items:center;justify-content:center;position:relative;text-align:center;transition:all 0.3s linear;
  &::before {content: "";position: absolute;inset: 0;padding: 1px;border-radius: 24px;background: linear-gradient(to right, var.$purple_color 0%, var.$text_white_color 100%);-webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);-webkit-mask-composite: destination-out;mask-composite: exclude;}

  &:hover {background:var.$pink_color;}

  .arrow-icon {position:absolute;right:24px;top:50%;transform:translateY(-50%);}
}

.cta-btn {padding:9px 26px;font-size:var.$font_16;height:42px;border-radius:24px;background: linear-gradient(90deg, var.$purple_color 0%, var.$other_dark_color 100%);display:flex;align-items:center;justify-content:center;position:relative;text-align:center;transition:all 0.3s linear;
  &::before {content: "";position: absolute;inset: 0;padding: 1px;border-radius: 24px;background: linear-gradient(to right, var.$purple_color 0%, var.$purple_color 100%);-webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);-webkit-mask-composite: destination-out;mask-composite: exclude;}

  &:hover {background:var.$pink_color;}

  .arrow-icon {position:absolute;right:24px;top:50%;transform:translateY(-50%);}
}

.loading-bg {animation-duration: 1.5s;animation-fill-mode: forwards;animation-iteration-count: infinite;animation-name: placeHolderShimmer;animation-timing-function: linear;background: #e4e4e4;background: linear-gradient(90deg,#161616 8%,#141414 25%,#171717 53%);background-size: 800px 104px;position: relative;border-radius: 32px;}

.App {text-align: center;}
.App-logo {height: 40vmin;pointer-events: none;}
.App-header {background-color: #282c34;min-height: 100vh;display: flex;flex-direction: column;align-items: center;justify-content: center;font-size: calc(10px + 2vmin);color: white;}
.App-link {color: #61dafb;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {animation: App-logo-spin infinite 20s linear;}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}